*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

.text-font {
	font-family: 'Quicksand';
	font-weight: 600;
}
.text-font-light {
	font-family: 'Quicksand';
	font-weight: 400;
}
.text-font-bold {
	font-family: 'Quicksand';
	font-weight: 700;
}

.orange {
	color: #ec6e4c;
}

.num-font {
	font-family: 'Montserrat';
}

.timely-data-display::-webkit-scrollbar {
	display: none;
}
