@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.data-toggler {
	@apply py-1 px-4 border border-green-300 text-green-200 rounded-full text-xs sm:text-sm;
}

.active {
	@apply text-blue-400 font-bold;
}

.active-timeType {
	@apply text-gray-100 bg-green-400 font-bold shadow;
}

.nav-item {
	@apply w-1/4 h-full flex items-center justify-center text-center text-sm md:text-lg cursor-pointer hover:bg-gray-600 transition;
}

.social-icon {
	@apply transition duration-75 ease-in-out transform scale-175 hover:text-gray-100;
}

/* CUSTOM CLASSES */

.container {
	width: 85%;
	position: relative;
}

.container .swiper-container {
	@apply rounded-2xl sm:rounded-3xl;
}

.text-font {
	font-family: 'Quicksand';
	font-weight: 600;
}
.text-font-light {
	font-family: 'Quicksand';
	font-weight: 400;
}
.text-font-bold {
	font-family: 'Quicksand';
	font-weight: 700;
}

.orange {
	color: #ec6e4c;
}

.num-font {
	font-family: 'Roboto';
}
